<form action="/v1/nodes/remove" method="POST">
    <input type="text" name="ip" id="ip">
    <button type="submit">mandar ip</button>
</form>
<from action="/v1/nodes/ips">
    <button type="submit"> Ver IPs</button>
</from>